/* TŁO */

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  z-index: -10;
}

/* /////////////////////////////////////////////////////////////////////////////////// */

/* KSZTAŁTY I ROZMIARY ELEMENTÓW */

.box {
  background: #111111;
  opacity: 100%;
  border-radius: 20px;
  display: inline-block;
  height: 200px;
  margin: 1rem;
  /* position: relative; */
  width: 200px;

}

.box-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#losuj, #zatwierdz, #nowaGra{
  width: 150px;
  height: 55px;
  border-radius: 10px;
  margin-top: 10px ;
  margin-bottom: 10px ;
  margin-left: 25px;
  margin-right: 25px;
}

.colorsValue{
  width: 200px;
  height: 140px;
}


h1{
  font-size: 5em;
  text-align: center;
  color: #337ab7;
}


.wylosowaneWartosci{
  border: 1px solid black;
  width:150px;
  height: 25px;
}

.form-control{
  width: 200px;
  margin-bottom: 10px;
}

#wynik{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid grey;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#proby{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid grey;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}


/* /////////////////////////////////////////////////////////////////////////////////// */

/* INDEX.HTML */

.text{
  text-align: center;
  text-align: justify;
}

.text{
  width: 600px;
  text-align: center;
}

.cont{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

#rozpocznij{
  margin-top: 20px;
}



/* /////////////////////////////////////////////////////////////////////////////////// */

/* UŁOŻENIE ELEMENTÓW NA STRONIE */
.box_i_wartosci{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.przyciski{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.komunikaty_i_nowa_gra{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}




.loader {
  filter:hue-rotate(0deg);
  color: linear-gradient(45deg,#0f8,#08f);
  animation:hue 50000ms infinite linear;
}

@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}

}



.container{
    /* border: 1px solid black; */
    position: absolute;
  	top:0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	margin: auto;
}
